---
import type { Education } from "@/cv";
import Section from "../Section.astro"

const education = Astro.props.education as Education;


---

<Section title={education.title}>
  <ul>
    {
      education.items.map(({ institution, startDate, endDate, area }) => {
        const start = startDate.substring(0, 7)
        const end = endDate != null ? endDate.substring(0, 7) : "Actual"

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{institution}</h3>
                </div>

                <time>{start} - {end}</time>
              </header>

              <footer>
                <p>{area}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
