---
import type { Work } from "@/cv";
import Section from "../Section.astro";

const work = Astro.props.work as Work;
---

<Section title={work.title}>
  <ul>
    {
      work.items.map(
        ({
          name,
          position,
          startDate,
          endDate,
          summary,
          responsibilities,
          technologies,
        }) => {
          const start = startDate.substring(0, 7);
          const end = endDate != null ? endDate.substring(0, 7) : "Actual";
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>{name}</h3>
                    <h4>{position}</h4>
                  </div>
                  <time>
                    {start} - {end}
                  </time>
                </header>
                <p>
                  <strong>App:</strong>
                  {summary}
                </p>
                <p>
                  <strong>{responsibilities.name}: </strong>{" "}
                  {responsibilities.items.join(", ")}
                </p>
                <footer>
                  <p>
                    <strong>{technologies.name}: </strong>{" "}
                    {technologies.items.join(", ")}
                  </p>
                  <hr />
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>
<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  article h3 {
    color: #111;
    font-weight: 500;
  }
  article h4 {
    color: #222;
    font-weight: 400;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
  }
  time {
    color: #555;
    font-size: 0.9rem;
    min-width: 102px;
  }
  hr {
    opacity: 0.5;
  }
  p {
    margin-bottom: 8px;
  }

  @media (width <= 768px) {
    time {
      text-align: right;
    }
  }
</style>
