---
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import InterestsHobbies from "@/components/sections/InterestsHobbies.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/sections/Projects.astro";
import TopBar from "@/components/sections/TopBar.astro";

import { basics, title, work, projects, education, interests } from "@cv_es";
const { name, summary } = basics;

---

<Layout title=`${title} ${name}`>
  <main>
    <TopBar />
    <Hero basics={basics} />
    <About title={basics.title} summary={summary} />
    <Experience work={work} />
    <Projects projects={projects} />
    <Education education={education} />
    <InterestsHobbies interests={interests} />
  </main>
  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 768px) {
    main {
      padding: 1rem;
    }
  }
</style>
